	
	#EnviarImgModal {
  		width: 180px
  	}
  
  	.btn-file {
    position: relative;
    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;   
	    cursor: inherit;
	    display: block;
	}
	
	#quickModal{
		color: #0069D9;
	}
	
	#messagem-text{
		resize: none;
		margin-bottom: 20px;
		width: 80%;
		margin-left: 10%;
		border-radius: 5px;
	}
	
	#tudo{
		margin-top: 60px;
		text-align: center;
		width: 50%;
		background-color: rgba(66, 155, 245, 1);
		border-radius: 5px;
	}
	
	#tudo1{
		width: 50%;
		text-align: center;
	}
	
	#tudo2{
		text-align: center;
		width: 50%;
	}
	
	#procurar{
		width: 200px;
		margin-bottom: 20px;
		text-align: center;
	}
	
	#salvar{
		width: 200px;
		margin-bottom: 20px;
	}
	
	#descr{
		margin-top: 20px; 
		margin-bottom: 20px;
	}