@font-face {
  font-family: Philosopher;
  src: url(font/Philosopher-Italic.ttf);
}

#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
  margin-left: 0px;
}

#header #logo h1 {
  color: #505050;
  font-family: Philosopher, sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #5691fc;
}

#background{
	width: 400px;
	height: 400px;
	background-color: #d6f1ff;
	margin: 9.2% auto;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

#login {
	width: 305px;
	margin: -36% auto;
}

#login h1{
	font-family: helvetica;
	text-align: center;
	margin-bottom: 22px;
	font-size: 36px;
	color: #5D5D5D;
}

#login input[type="text"],#login input[type="password"] {
	padding: 15px 120px 15px 10px;
	margin-top: 3px;
	border: solid 0.5px #5D5D5D;
	border-radius: 5px;
	box-shadow: 0 0 0 0;
    outline: 0;
}

#login input[type="submit"] {
	margin-top: 7px;
	width: 305px;
	height: 49px;
	background-color: #5691FC;
	color: white;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-bottom: 25px;
}

#login input[type="submit"]:hover{
	background-color: #1161FA;
	border-style: hidden;
}

#esqueceu, #naotem{
	text-align: center;
}

#esqueceu a{
	font-family: helvetica;
	font-size: 16px;
	text-decoration: none;
}

#naotem a{
	font-family: helvetica;
	font-size: 16px;
	text-decoration: none;
}

#backgroundCadastrar{
	background-color: rgba(255, 255, 255, 0.5);
	margin: 10% auto;
	margin-top: 10%;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.40);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.40);
}

#cadastrarFreteiro {
	margin: 10%;
	display: none;
}

#cadastrarFreteiro h1{
	font-family: helvetica;
	text-align: center;
	margin-bottom: 22px;
	font-size: 36px;
	color: #5D5D5D;
}

#cadastrarFreteiro input[type="text"], #cadastrarFreteiro input[type="email"] {
	padding: 15px 50% 15px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: none;
	box-shadow: 0 0 0 0;
	border-bottom: 0.5px solid #8f8f8f;
	outline: none;
}

#cadastrarFreteiro input[type="text"]:focus, #cadastrarFreteiro input[type="email"]:focus {
	border-bottom: 1.5px solid #5691FC;
}

#cadastrarFreteiro input[type="submit"] {
	margin: 5%;
	width: 90%;
	height: 50px;
	background-color: #5691FC;
	color: white;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-bottom: 25px;
}

#cadastrarFreteiro input[type="submit"]:hover{
	background-color: #1161FA;
	border-style: hidden;
}

#checkboxEscolha {
	text-align: center;
}

#usuarioTipo {
	font-size: 26px;
	width: 360px;
	margin: 4% 20%;
	color: #292929;
}

#backgroundCadastrar p{
	font-family: helvetica;
	text-align: center;
	
}

#cadastrarCliente {
	margin: 10%;
	display: block;
}

#cadastrarCliente h1{
	font-family: helvetica;
	text-align: center;
	margin-bottom: 22px;
	font-size: 36px;
	color: #5D5D5D;
}

#cadastrarCliente input[type="text"], #cadastrarCliente input[type="email"] {
	padding: 15px 50% 15px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: none;
	box-shadow: 0 0 0 0;
	border-bottom: 0.5px solid #8f8f8f;
	outline: none;
}

#cadastrarCliente input[type="text"]:focus, #cadastrarCliente input[type="email"]:focus {
	border-bottom: 1.5px solid #5691FC;
}

#cadastrarCliente input[type="submit"] {
	margin: 5%;
	width: 90%;
	height: 50px;
	background-color: #5691FC;
	color: white;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-bottom: 25px;
}

#cadastrarCliente input[type="submit"]:hover{
	background-color: #1161FA;
	border-style: hidden;
}

#msg{
	width: 400px;
	margin: 49px auto;
}

#msg{
	margin-bottom: -50px;
}
				
#bodyCadastrar{
	background-color: #EEEDED;
}			

#nomeFretador, #nomeFretadorUsuario, #emailFretador, #senhaFretador, #idadeFretador, #telefoneFretador, #cpfFretador, #registroFretador, #nomeCliente, #nomeClienteUsuario, #emailCliente, #senhaCliente, #idadeCliente, #telefoneCliente, #cpfCliente, #enderecoCliente{
	background-color: #F7F6F6;
}